<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div style="max-width:525px;margin:0 auto;text-align:center;background-color:#ffffff;padding:0 8px 16px">
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%" align="center">
            <tbody>
                <tr>
                    <td>
                        <div style="margin:0px auto;max-width:525px">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%"
                                align="center">
                                <tbody>
                                    <tr>
                                        <td
                                            style="direction:ltr;font-size:0px;padding:0px;padding-bottom:24px;padding-top:16px;text-align:center">
                                            <div style="font-size:0;line-height:0;display:inline-block;width:100%;direction:ltr;text-align:center"
                                                class="m_-3135493376038004323mj-column-per-100">
                                                <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%"
                                                    class="m_-3135493376038004323mj-column-per-100">
                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                        role="presentation" style="vertical-align:top" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-size:0px;padding:0px;word-break:break-word"
                                                                    align="center">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        role="presentation"
                                                                        style="border-collapse:collapse;border-spacing:0px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width:104px"><img
                                                                                        alt="Mike'sLand"
                                                                                        height="35.13513513513514"
                                                                                        src="https://mikeyuen.netlify.app/svg/logo.svg"
                                                                                        style="object-fit:contain;border:0;display:block;outline:none;text-decoration:none;height:35.13513513513514px;width:100%;font-size:13px"
                                                                                        width="104"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:0px;padding:0px;word-break:break-word"
                                                                    align="center">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                        role="presentation"
                                                                        style="border-collapse:collapse;border-spacing:0px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="width:1px"><img alt=""
                                                                                        height="1"
                                                                                        style="object-fit:contain;border:0;display:block;outline:none;text-decoration:none;height:1px;width:100%;font-size:13px"
                                                                                        width="1"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font-size:0px;padding:0px;padding-top:24px;padding-right:25%;padding-bottom:24px;padding-left:25%;word-break:break-word">
                                                                    <p
                                                                        style="border-top:solid 0.5px #f48024;font-size:1px;width:100%;margin:0">
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:0px;padding:0px;word-break:break-word"
                                                                    align="left">
                                                                    <div
                                                                        style="font-family:system-ui,Segoe UI,sans-serif;font-size:15px;line-height:1.6;text-align:left;color:#333333">
                                                                        Thank you for joining Mike'sLand! Let's verify
                                                                        your email so we can finish creating your
                                                                        account.
                                                                        Your confirmation code is:</div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:0px;padding:0px;word-break:break-word"
                                                                    align="center">
                                                                    <div
                                                                        style="font-family:system-ui,Segoe UI,sans-serif;font-size:19px;font-weight:700;line-height:1.6;text-align:center;color:#333333">
                                                                        {{ verificationCode }}</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="yj6qo ajU">
            <div id=":ol" class="ajR" role="button" tabindex="0" data-tooltip="Show trimmed content"
                aria-label="Show trimmed content" aria-expanded="false"><img class="ajT"
                    src="//ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif"></div>
        </div>
        <div class="adL">
            <div class="adm">
                <div id="q_1" class="ajR h4">
                    <div class="ajT"></div>
                </div>
            </div>
            <div class="h5">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%" align="center">
                    <tbody>
                        <tr>
                            <td>
                                <div style="margin:0px auto;max-width:525px">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                        style="width:100%" align="center">
                                        <tbody>
                                            <tr>
                                                <td
                                                    style="direction:ltr;font-size:0px;padding:24px;padding-left:0px;padding-right:0px;padding-top:0px;text-align:center">
                                                    <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%"
                                                        class="m_-3135493376038004323mj-column-per-100">
                                                        <table border="0" cellpadding="0" cellspacing="0"
                                                            role="presentation" style="vertical-align:top" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="font-size:0px;padding:0px;padding-top:0px;padding-bottom:16px;word-break:break-word">
                                                                        <p
                                                                            style="border-top:solid 0.5px #dee0e1;font-size:1px;width:100%;margin:0">
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:0px;padding:0px;word-break:break-word"
                                                                        align="center">
                                                                        <div
                                                                            style="font-family:system-ui,Segoe UI,sans-serif;font-size:11px;line-height:1.6;text-align:center;color:#939598">
                                                                            <a href="https://mikeyuen.netlify.app"
                                                                                style="text-decoration:underline;color:inherit"
                                                                                target="_blank"><span>https://mikeyuen.netlify.app</span></a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>