# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET='p4sta.w1th-b0logn3s3-s@uce'
JWT_ALGO='HS256'

# Mongo DB
# Local development
MONGODB_URI=

# Port
HOST=localhost:8443
HTTP_PORT=8443

# Debug
LOG_LEVEL='debug'

# Redis
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

# Sendgrid
SENDGRID_API_KEY=
